html {
  font-family: 100%;
  line-height: 1.5rem;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0 auto;
  padding: 0;
  min-height: 100vh;
  max-width: 1400px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

.grid-container > div {
  padding: 1rem;
  background-color: lightgray;
}

.grid-container > div:nth-child(odd) {
  background-color: lightseagreen;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-columns: repeat(3, 1fr);

  grid-template-rows: minmax(100px, auto) minmax(100px, auto) minmax(
      100px,
      auto
    );
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 1rem;

  align-items: center;
  align-items: end;
  align-items: start;
  align-items: stretch;
}

.item1 {
  grid-column-start: 1;
  grid-column-end: -1;
}

.item2 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 4;
}

.item3 {
  align-self: end;
  justify-self: end;
}

.gallery-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 0.5rem;
}

.gallery-img {
  height: 100%;
  object-fit: cover;
}
